Task 3 â€” Airbnb Dataset Cleaning Notebook Structure

In [5]:
import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv("new_york_listings_2024.csv")

# Check dataset structure
df.info()

# Check missing values count
df.isnull().sum()

# Quick stats on numeric columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   name                            20758 non-null  object
 2   host_id                         20758 non-null  int64
 3   host_name                       20758 non-null  object
 4   neighbourhood_group             20758 non-null  object
 5   neighbourhood                   20758 non-null  object
 6   latitude                        20758 non-null  float64
 7   longitude                       20758 non-null  float64
 8   room_type                       20758 non-null  object
 9   price                           20758 non-null  float64
 10  minimum_nights                  20758 non-null  int64
 11  number_of_reviews               20758 non-null  int64
 12  last_review                     20758 non-null  object
 13  reviews_per_month               20758 non-null  float64
 14  calculated_host_listings_count  20758 non-null  int64
 15  availability_365                20758 non-null  int64
 16  number_of_reviews_ltm           20758 non-null  int64
 17  license                         20758 non-null  object
 18  rating                          20758 non-null  object
 19  bedrooms                        20758 non-null  object
 20  beds                            20758 non-null  int64
 21  baths                           20758 non-null  object
dtypes: float64(4), int64(8), object(10)
memory usage: 3.5+ MB

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,beds
count,2.075800e+04,2.075800e+04,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000
mean,3.034044e+17,1.749316e+08,40.726798,-73.939161,187.776616,28.558435,42.642596,1.257910,18.844108,205.990317,10.852105,1.723721
std,3.901216e+17,1.725541e+08,0.060294,0.061403,1022.797208,33.536518,73.561654,1.904661,70.910834,135.087768,21.357071,1.212272
min,2.595000e+03,1.678000e+03,40.500314,-74.249840,10.000000,1.000000,1.000000,0.010000,1.000000,0.000000,0.000000,1.000000
25%,2.708808e+07,2.041738e+07,40.684150,-73.980710,80.000000,30.000000,4.000000,0.210000,1.000000,87.000000,1.000000,1.000000
50%,4.993003e+07,1.087271e+08,40.722820,-73.949587,125.000000,30.000000,14.000000,0.650000,2.000000,215.000000,3.000000,1.000000
75%,7.216019e+17,3.144102e+08,40.763098,-73.917460,199.000000,30.000000,49.000000,1.800000,5.000000,353.000000,15.000000,2.000000
max,1.054376e+18,5.504035e+08,40.911147,-73.713650,100000.000000,1250.000000,1865.000000,75.490000,713.000000,365.000000,1075.000000,42.000000

In [7]:
# Step 2: Convert certain columns to numeric (clean invalid entries)
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')
df['baths'] = pd.to_numeric(df['baths'], errors='coerce')

In [11]:
# Step 3: Fill missing values in these columns with median or mode
df['rating'] = df['rating'].fillna(df['rating'].median())
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].mode()[0])
df['baths'] = df['baths'].fillna(df['baths'].mode()[0])

In [18]:
# Step 4: Remove outliers for unrealistic price and minimum nights
df = df[(df['price'] <= 2000) & (df['minimum_nights'] <= 365)]

# Step 5: Convert 'last_review' to datetime
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

# Step 6: Optional - Check for remaining nulls and drop rows if critical columns are missing
df.dropna(subset=['neighbourhood', 'room_type', 'price'], inplace=True)

# Step 7: Save cleaned dataset for Power BI import
df.to_csv("NYC_Airbnb_Cleaned_Dataset.csv", index=False)

print("Data cleaning completed and cleaned file saved as NYC_Airbnb_Cleaned_Dataset.csv")

Data cleaning completed and cleaned file saved as NYC_Airbnb_Cleaned_Dataset.csv

Data cleaning completed and cleaned file saved as NYC_Airbnb_Cleaned_Dataset.csv